name: Update AdGuard DNS List

on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * *'  # UTC 时间每天 19 点

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Fetch and merge lists
        run: |
          urls=(
            "https://raw.githubusercontent.com/privacy-protection-tools/anti-AD/master/anti-ad-easylist.txt"
            "https://raw.githubusercontent.com/217heidai/adblockfilters/main/rules/adblockdns.txt"
            "https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/MobileFilter/sections/specific_app.txt"
            "https://easylist-downloads.adblockplus.org/easylist.txt"
            "https://raw.githubusercontent.com/YanbingJiang/Shadowrocket_diy_rules/refs/heads/main/Archives/Youtube_Rule_Archive.conf"
            "https://raw.githubusercontent.com/neodevpro/neodevhost/master/adblocker"
            "https://adrules.top/dns.txt"
            "https://github.com/BoyangGo/adguard-dns-rules/blob/main/adbyby.txt"
            "https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt"
            "https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt"
          )

          > merged.txt

          for url in "${urls[@]}"; do
            curl -s "$url"
          done \
          | sed 's/#.*//' \
          | sed '/^$/d' \
          | sed 's/0.0.0.0 //g' \
          | sed 's/127.0.0.1 //g' \
          | sed 's/||//' \
          | sed 's/\^//' \
          | awk '{print $1}' \
          | sort -u > merged.txt

          echo "# Total domains: $(wc -l < merged.txt)" >> merged.txt

      - name: Commit if changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add merged.txt

          if ! git diff --cached --quiet; then
            git commit -m "Auto update DNS list"
            git push
          fi
